body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #d35400;
}

.menu-list {
    list-style-type: none;
    padding: 0;
}

.menu-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.item-details {
    margin-bottom: 10px;
}

.order-form {
    display: flex;
    align-items: center;
}

.order-form label {
    margin-right: 5px;
}

.order-form input[type="number"] {
    width: 50px;
    margin-right: 10px;
}

.order-form button {
    background-color: #d35400;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.order-form button:hover {
    background-color: #e67e22;
}
